body { 
    font-family: "system-ui";
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
}

main{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    align-items: center;
}